@charset 'utf-8';

/* reset */
* {
	margin: 0;
	padding: 0;
}
ul,
ol,
li {
	list-style: none;
}
a {
	text-decoration: none;
	color: #333;
}

/* common */
section {
	padding-bottom: 50px;
	text-align: center;
}

h2 {
	margin-bottom: 20px;
}

body {
	background: #eee;
}
